trendyolveri.json
{
  "name": "trendyolveri",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -160,
        -272
      ],
      "id": "63fbe6c6-5f6f-4e84-b496-8f551dc4d115",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6507f8b0-ddf9-4b89-a3ed-b96a0552bf1d",
              "name": "pages",
              "value": "=[1,2,3,4,5]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        304,
        -272
      ],
      "id": "6725b068-b343-42cb-8915-51879e5a0be1",
      "name": "set page"
    },
    {
      "parameters": {
        "jsCode": "const pages = $json.pages;\nreturn pages.map(p => ({ json: { page: p } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        576,
        -272
      ],
      "id": "ffade3ba-8ab4-4933-aa6b-860d8474b020",
      "name": "create page items"
    },
    {
      "parameters": {
        "url": "=https://apigw.trendyol.com/discovery-web-searchgw-service/category-top-ranking/personalized-products?page={{$json.page}}&channelId=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        816,
        -272
      ],
      "id": "8628688a-aad5-4f41-8243-9bf25ed1171d",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// Sonuçları biriktireceğimiz ana listeyi oluşturuyoruz.\nconst allExtractedProducts = [];\nconst baseUrl = \"https://cdn.dsmcdn.com/mnresize/620/920\";\n\n// Gelen 5 paketin her biri için bir döngü başlatıyoruz.\nfor (const item of items) {\n  \n  // O anki paketin içindeki 20'lik ürün listesine ulaşıyoruz.\n  const productsInThisBatch = item.json.result.contents;\n  \n  // Bu 20'lik listenin içindeki her bir ürün için ikinci bir döngü başlatıyoruz.\n  if (productsInThisBatch && productsInThisBatch.length > 0) {\n    for (const product of productsInThisBatch) {\n      \n      const variantInfo = product.merchantListings?.[0]?.variants?.[0];\n\n      // --- GÖRÜNTÜ (IMAGE) URL'LERİNİ İŞLEME (DÜZELTME: Tüm URL'ler liste olarak kalacak) ---\n      let imageUrls = []; // Bu zaten tüm URL'leri liste olarak tutuyor\n      const imagePaths = product.contents; \n      if (imagePaths && imagePaths.length > 0) {\n        imageUrls = imagePaths.map(imagePath => baseUrl + imagePath);\n      }\n\n      // --- PROMOSYON BİLGİLERİNİ İŞLEME ---\n      let discountInfos = [];\n      if (product.merchantListings && product.merchantListings.length > 0) {\n        const promotions = product.merchantListings[0].promotions;\n        if (promotions && promotions.length > 0) {\n          discountInfos = promotions.map(promo => ({\n            name: promo.name,\n            shortName: promo.shortName\n          }));\n        }\n      }\n\n      // --- PRODUCT URL OLUŞTURMA ---\n      const brandNameForUrl = product.brand?.name;\n      const productNameForUrl = product.name;\n      const productId = product.id;\n      const merchantId = product.merchantListings?.[0]?.merchant?.id;\n\n      let productUrl = null;\n      if (brandNameForUrl && productNameForUrl && productId && merchantId) {\n        const slugifiedProductName = productNameForUrl\n          .toLowerCase()\n          .replace(/ /g, '-')\n          .replace(/[^a-z0-9-]/g, '');\n        \n        const slugifiedBrandName = brandNameForUrl.toLowerCase().replace(/ /g, '-');\n        \n        productUrl = `https://www.trendyol.com/${slugifiedBrandName}/${slugifiedProductName}-p-${productId}?merchantId=${merchantId}`;\n      }\n      \n      // --- VERİ DÖNÜŞÜMLERİ ---\n      // DÜZELTME: Artık 'firstImageUrl' değişkenine gerek yok, çünkü tüm 'imageUrls' listesini kullanacağız.\n      const popularityText = `Favori: ${product.socialProof?.favoriteCount?.count}, Görüntülenme: ${product.socialProof?.pageViewCount?.count}`;\n      const shippingInfoText = (variantInfo?.freeCargo === true) ? \"Ücretsiz Kargo\" : \"Ücretli Kargo\";\n\n      // --- İSTENEN SIRALAMA VE İSİMLENDİRMEYE GÖRE YENİ OBJE OLUŞTURMA ---\n      const newObject = {\n        brand: product.brand?.name,\n        product_name: product.name,\n        product_url: productUrl,\n        image_url: imageUrls, // DÜZELTME: Tek bir resim yerine, tüm URL'lerin listesini atıyoruz.\n        price: variantInfo?.price?.originalPrice,\n        discounted_price: variantInfo?.price?.discountedPrice,\n        discount_info: discountInfos,\n        shipping_info: shippingInfoText,\n        rating: product.ratingScore?.averageRating,\n        review_count: product.ratingScore?.totalCount,\n        popularity: popularityText\n      };\n      \n      // Ayıkladığımız ürünü ana listemize ekliyoruz.\n      allExtractedProducts.push({ json: newObject });\n    }\n  }\n}\n\n// Tüm verileri içeren ana listeyi döndürüyoruz.\nreturn allExtractedProducts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1024,
        -272
      ],
      "id": "e479a105-3224-47bf-af9e-b83431b4693d",
      "name": "Code in JavaScript",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=14J0wV7lfWEB0QV4oAYuqRBcVVARfr4Wdg2RA3oF1O-o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sayfa1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_url",
              "displayName": "product_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discounted_price",
              "displayName": "discounted_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_info",
              "displayName": "discount_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_info",
              "displayName": "shipping_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_count",
              "displayName": "review_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "popularity",
              "displayName": "popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1248,
        -272
      ],
      "id": "8b8a82d3-1dcd-461e-994d-76ed460c0afa",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2MfKLZSnZCyIS2Y6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "14J0wV7lfWEB0QV4oAYuqRBcVVARfr4Wdg2RA3oF1O-o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J0wV7lfWEB0QV4oAYuqRBcVVARfr4Wdg2RA3oF1O-o/edit#gid=0"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        48,
        -272
      ],
      "id": "71418b80-9e9f-404c-801c-35d242720134",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2MfKLZSnZCyIS2Y6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set page": {
      "main": [
        [
          {
            "node": "create page items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create page items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "set page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "93b59b53-58a5-4f76-bd42-5f40294b5fbd",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "cc1d5867f7d008853e46ed1b24e1bd1fc41ed59c201c4d91bf4a97d1d4a53d2a"
  },
  "id": "nKaNRmZMhWfFknKS",
  "tags": []
}