trendyolveri.json
{
  "name": "trendyolveri",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "c21c8710-a2b2-4e23-941f-731b9f46e8e6",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "6507f8b0-ddf9-4b89-a3ed-b96a0552bf1d",
              "name": "pages",
              "value": "=[1,2,3,4,5]",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        464,
        0
      ],
      "id": "2e0102f9-3f5f-4ad8-b7e0-59c1cdaa2aba",
      "name": "set page"
    },
    {
      "parameters": {
        "jsCode": "const pages = $json.pages;\nreturn pages.map(p => ({ json: { page: p } }));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        736,
        0
      ],
      "id": "26c42ec6-0585-4985-acb6-d9a69d9b1987",
      "name": "create page items"
    },
    {
      "parameters": {
        "url": "=https://apigw.trendyol.com/discovery-web-searchgw-service/category-top-ranking/personalized-products?page={{$json.page}}&channelId=1",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        976,
        0
      ],
      "id": "a9aed679-8cef-4245-b72e-46e44f58d381",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "jsCode": "// ana liste oluşturma\nconst allExtractedProducts = [];\nconst baseUrl = \"https://cdn.dsmcdn.com/mnresize/620/920\";\n\n// döngü\nfor (const item of items) {\n  \n  const productsInThisBatch = item.json.result.contents;\n  \n  if (productsInThisBatch && productsInThisBatch.length > 0) {\n    for (const product of productsInThisBatch) {\n      \n      const variantInfo = product.merchantListings?.[0]?.variants?.[0];\n\n      let imageUrls = []; \n      const imagePaths = product.contents; \n      if (imagePaths && imagePaths.length > 0) {\n        imageUrls = imagePaths.map(imagePath => baseUrl + imagePath);\n      }\n\n      //promotion\n      let discountInfos = [];\n      if (product.merchantListings && product.merchantListings.length > 0) {\n        const promotions = product.merchantListings[0].promotions;\n        if (promotions && promotions.length > 0) {\n          discountInfos = promotions.map(promo => ({\n            name: promo.name,\n            shortName: promo.shortName\n          }));\n        }\n      }\n\n      //product-url\n      const brandNameForUrl = product.brand?.name;\n      const productNameForUrl = product.name;\n      const productId = product.id;\n      const merchantId = product.merchantListings?.[0]?.merchant?.id;\n\n      let productUrl = null;\n      if (brandNameForUrl && productNameForUrl && productId && merchantId) {\n        const slugifiedProductName = productNameForUrl\n          .toLowerCase()\n          .replace(/ /g, '-')\n          .replace(/[^a-z0-9-]/g, '');\n        \n        const slugifiedBrandName = brandNameForUrl.toLowerCase().replace(/ /g, '-');\n        \n        productUrl = `https://www.trendyol.com/${slugifiedBrandName}/${slugifiedProductName}-p-${productId}?merchantId=${merchantId}`;\n      }\n      \n    \n      const popularityText = `Favori: ${product.socialProof?.favoriteCount?.count}, Görüntülenme: ${product.socialProof?.pageViewCount?.count}`;\n      const shippingInfoText = (variantInfo?.freeCargo === true) ? \"Ücretsiz Kargo\" : \"Ücretli Kargo\";\n\n      const newObject = {\n        brand: product.brand?.name,\n        product_name: product.name,\n        product_url: productUrl,\n        image_url: imageUrls, \n        // DÜZELTME: Tek bir resim yerine, tüm URL'lerin listesini atıyoruz.\n        price: variantInfo?.price?.originalPrice,\n        discounted_price: variantInfo?.price?.discountedPrice,\n        discount_info: discountInfos,\n        shipping_info: shippingInfoText,\n        rating: product.ratingScore?.averageRating,\n        review_count: product.ratingScore?.totalCount,\n        popularity: popularityText\n      };\n      \n      allExtractedProducts.push({ json: newObject });\n    }\n  }\n}\n\n// Tüm verileri içeren ana listeyi döndürüyoruz.\nreturn allExtractedProducts;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1184,
        0
      ],
      "id": "9d9c836f-7a13-45e5-a67e-979c6bf2946d",
      "name": "Code in JavaScript",
      "executeOnce": true
    },
    {
      "parameters": {
        "operation": "appendOrUpdate",
        "documentId": {
          "__rl": true,
          "value": "=14J0wV7lfWEB0QV4oAYuqRBcVVARfr4Wdg2RA3oF1O-o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sayfa1",
          "mode": "name"
        },
        "columns": {
          "mappingMode": "autoMapInputData",
          "value": {},
          "matchingColumns": [],
          "schema": [
            {
              "id": "brand",
              "displayName": "brand",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_name",
              "displayName": "product_name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "product_url",
              "displayName": "product_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "image_url",
              "displayName": "image_url",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "price",
              "displayName": "price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discounted_price",
              "displayName": "discounted_price",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "discount_info",
              "displayName": "discount_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "shipping_info",
              "displayName": "shipping_info",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "rating",
              "displayName": "rating",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "review_count",
              "displayName": "review_count",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "popularity",
              "displayName": "popularity",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1408,
        0
      ],
      "id": "f1e3c107-dc42-4683-83a8-5458fd34344e",
      "name": "Append or update row in sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2MfKLZSnZCyIS2Y6",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "operation": "clear",
        "documentId": {
          "__rl": true,
          "value": "14J0wV7lfWEB0QV4oAYuqRBcVVARfr4Wdg2RA3oF1O-o",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sayfa1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/14J0wV7lfWEB0QV4oAYuqRBcVVARfr4Wdg2RA3oF1O-o/edit#gid=0"
        },
        "keepFirstRow": true
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        208,
        0
      ],
      "id": "9dfa4e6b-1528-46bc-a5a6-59aebf7b90ea",
      "name": "Clear sheet",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "2MfKLZSnZCyIS2Y6",
          "name": "Google Sheets account"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "Clear sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "set page": {
      "main": [
        [
          {
            "node": "create page items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "create page items": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Append or update row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Clear sheet": {
      "main": [
        [
          {
            "node": "set page",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "c250e5c3-49b2-4737-95c0-1ec7012aa9ac",
  "meta": {
    "instanceId": "cc1d5867f7d008853e46ed1b24e1bd1fc41ed59c201c4d91bf4a97d1d4a53d2a"
  },
  "id": "UGYACOPEUi73Of7X",
  "tags": []
}
